.previewIcon {
  display: inline;
  padding-right: 10px;  
}
.imgView table {
  display: inline;
  width: 100%;
}
.thumbImg {
  padding-top: .5rem;
  display: block;
  margin: auto;
  max-width: 99%;
  max-height: 90vh;
}
#videoview {
  padding-top: .5rem;
  display: block;
  margin: auto;
  max-width: 99%;
  max-height: 90vh;
}
.image{
  position: relative;
}
.image a{
  display: block;      
  position: absolute;
  background: rgba(255, 255, 255, 0);
}
#imageComment {
  text-align: center;
}

.imgView {
    display:block;
    background: white;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: larger;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
}
.close {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    background: black;
    color: white;
    width: 2.4rem;
    height: 2.4rem;
	font-size: 2rem;
	line-height: 1;
}
.vid {
    height: 160px;
}
.video {
    display:inline;
}
.videos {
    text-align: center;
    padding-top: .5rem;
}
#breadcrumbs {
    padding-top: .5rem;
}
.breadcrumb {
    padding: 0;
    padding-right: 3px;
    /* line-height: 2.5; */
    display:inline;
}
table.photo {
    display:inline;
}
.photos {
    text-align: center;
    padding-top: .5rem;
}
a:hover {
    cursor: pointer;
    color: #1262df;
}
a:link, a:visited {
    color: #0d47a1;
}
a {
    text-decoration: none;
}
a img {
   border:none; 
}
p {
    line-height: 1.8;
}

code, pre {
    background: #f5f5f5;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: Ubuntu Mono,Consolas,Courier,monospace;
    font-size: 1rem;
}
code {
    color: #353535;
    padding: .2rem;
    border: 1px solid #dfdfdf;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lato,sans-serif;
    margin-bottom: .1rem;
}
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 0;
}
h1 {
    text-align: center;
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.right {
    padding-left: 1rem;
    float:right;
    text-align: right;
}
blockquote{background:#fbfbfb;border-left:4px solid #01a1da;line-height:1.8;padding:1rem;margin:1rem}
blockquote p{margin:0}
blockquote p+p{margin-top:1rem}

.page {
	font-family: monospace;
	font-weight: bold;
	padding-left: .5rem;
}
.photo {
}

.navLogoTxt {
    position: fixed;
    left: 0;
    top: 0;
    background: #fea75d !important;
    font-size: 64px;
    line-height: 74px;
    font-weight: bold;
    z-index: 1000;
}
.navLogo img {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 4.67rem;
    max-height: 4.67rem;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 1000;
}
.nav,.subnav{font-family:Lato,sans-serif}
.nav{
    background:#fea75d;
    border-bottom:0;
    color:#fff;
    height:2.4rem;
    margin:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:6;
    overflow: hidden;
}
.nav .row{
    padding-top:0;
    padding-left: 4.8rem; 
    padding-right: 0; 
    overflow: hidden;
}
.nav a, .subnav a {
    background: rgba(255, 255, 255, 0);
    display: block;
    padding: .5rem;
}
.nav a:hover {
    background: #01a1da;/*red;*/
    color: black;
}
.nav a:link, .subnav a:visited {
    color: black;
}

.nav .row .column, .nav.showMenu .row .column:not(.menuicon) {
    background: rgba(255, 255, 255, 0);
    height:2.4rem;
}
.subnav .row .column, .subnav.showMenu .row .column:not(.menuicon) {
    background: rgba(255, 255, 255, 0);
    height:2.4rem;
}

.nav .row .column:hover, .nav.showMenu .row .column:not(.menuicon):hover {
background: #01a1da;/*red;*/
}
.subnav .row .column:hover, .subnav.showMenu .row .column:not(.menuicon):hover {
background: #01a1da;/*red;*/
}

.nav .row .column.menuicon {
    display: none;
}
@media all and (max-width: 40rem) {
  .nav .row .column:not(:first-child) {display: none;}
  .nav .row .column.menuicon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    background: #fea75d;
  }
}
@media all and (max-width: 40rem) {
  .nav.showMenu {position: relative;}
  .nav.showMenu {
    position: fixed;
    overflow: visible;
  }
  .nav.showMenu .row {
    padding-top: 4.8rem;
    padding-left: 0px; 
  }
  .nav.showMenu .row .column:not(.menuicon) {
    float: none;
    display: block;
    text-align: left;
    background: #fea75d;
    padding: .1rem;
    padding-left: .8rem;
    width: 100%;
  }
  .nav.showMenu .row .column.menuicon {
    top: -.1rem;
  }
}
.subnav{
    background:#f5f5f5;
    color:#fff;
    height:2.4rem;
    position:fixed;
    top:2.4rem;
    width:100%;
    z-index:5;
	overflow-y: hidden;
}
.subnav .row{
    padding-top:0;
    padding-left: 4.8rem; 
    padding-right:0; 
    font-size: .9rem;
    overflow-x: hidden;
}

.subnav a:hover {
    color: black;
    background: #01a1da;/*red;*/
    height: 20px;
}
.subnav a:link, .subnav a:visited {
    color: black;
}
.subnav .row .column.menuicon {
    display: none;
}
@media all and (max-width: 40rem) {
  .subnav .row .column:not(:first-child) {display: none;}
  .subnav .row .column.menuicon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    background: #f5f5f5;
  }
}
@media all and (max-width: 40rem) {
  .subnav.showMenu {position: relative;}
  .subnav.showMenu {
    position: fixed;
    overflow: visible;
  }
  .subnav.showMenu .row {
    padding-top: 2.4rem;
    padding-left: 0px; 
  }
  .subnav.showMenu .row .column:not(.menuicon) {
    float: none;
    display: block;
    text-align: left;
    background: #f5f5f5;
    padding: .1rem;
    padding-left: .8rem;
    width: 100%;
  }
  .subnav.showMenu .row .column.menuicon {
  }
}

.row:before{content:" ";display:table}
.column {
    display: table-cell;
    float:left;
/*    padding: .5rem;*/
}
.column:last-child{float:right}
.column:first-child{float:left}

html,
body {
    width: 100%;
	margin:0;
	padding:0;
	height:100%;
    font-family: Merriweather,serif;
    font-size: 15px;
}
body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

@media (-webkit-min-device-pixel-ratio: 2), 
		(min--moz-device-pixel-ratio: 2),
		(min-resolution: 2dppx),
        (min-resolution: 192dpi){
  html,body {
  	font-size:20px; 
  }
}
@media (min-device-width: 400px) and (-webkit-min-device-pixel-ratio: 2), 
		(min-device-width: 400px) and (min--moz-device-pixel-ratio: 2),
		(min-device-width: 400px) and (min-resolution: 2dppx),
        (min-device-width: 400px) and (min-resolution: 192dpi){
  html,body {
  	font-size:30px; 
  }
}
.wrapper {
	min-height:100%;
	position:relative;
}
.content {
	padding-left: 0.67rem;
	padding-right: 0.67rem;
	padding-top:4.8rem;
	padding-bottom:6.67rem;   /* Height of the footer element */
}
.footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
    background-color: #005095;
    color: #fff;
    font-size: .75rem;
    margin-top: 2rem;
    margin-right: 2rem;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
.footer td{
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer a:hover {
    color: #6bc3e1;
}
.footer a:link, .footer a:visited {
    color: #1f98c1;
}
.footer a {
    text-decoration: none;
}
.none {
    display:none !important;
}
